[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "econid"]
	path = econid
	url = https://github.com/teal-insights/r-econid
[submodule "imfapi"]
	path = imfapi
	url = https://github.com/teal-insights/r-imfapi
[submodule "imfweo"]
	path = imfweo
	url = https://github.com/teal-insights/r-imfweo
[submodule "wbids"]
	path = wbids
	url = https://github.com/teal-insights/r-wbids
